.main-chart {
	width: 100%;
	display: grid;
	grid-template-columns: 70% 258px;
	grid-template-rows: repeat(2, 400px);
	column-gap: 70px;

	.daily-activity {
		background-color: #fbfbfb;
		height: 320px;
	}

	.calories-container {
		display: flex;
		flex-direction: column;
		gap: 50px;
	}

	p span {
		color: #74798c;
		display: block;
		font-size: 14px;
		font-weight: 500;
	}

	.average-duration {
		box-shadow: 0px 2px 4px 0px #00000005;
		background-color: #ff0000;
		
	}

	.performances,
	.score-chart,
	.average-duration {
		height: 263px;
		border-radius: 5px;
		height: 263px;
		width: 263px;
	}

	.performances{
	background-color: #282D30;
	}

	

	.charts {
		display: flex;
		gap: 25px;
		justify-content: space-between;
		margin-top: 50px;
	}
}
