.main-chart {
	width: 100%;
	display: grid;
	grid-template-columns: 60% 25%;
	gap: 50px;
	//grid-template-rows: 50px repeat(2, 120px);

	.daily-activity {
		background-color: #fbfbfb;
		grid-area: 2/2/7/11;
		height: 320px;
	}

	.calories-container {
		display: flex;
		flex-direction: column;
		gap: 50px;
	}

	p span {
		color: #74798c;
		display: block;
		font-size: 14px;
		font-weight: 500;
	}

	.average-duration {
		//grid-area: 5/2/7/5;
		box-shadow: 0px 2px 4px 0px #00000005;
		grid-column-start: 2;
		background-color: #ff0000;
	}

	.performances {
		border: solid red 2px;
		//grid-area: 5/5/7/8;
	}

	.score-chart {
		//grid-area: 5/8/7/11;
		border: solid red 2px;
	}
}
