.welcome-container {
border: solid red 5px;
display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
	
}


	



h1 {
	color: red;
	grid-column: 3/6;

	span {
		color: #000;
	}
}
