.welcome-container {
	display: flex;
	flex-direction: column;
}
h1 {
	font-size: 48px;
	margin: 0;
	margin-left: 200px;
	color: #ff0101;
	span {
		color: #000;
	}
}

.tagline {
	margin-left: 200px;
	margin-bottom: 50px;
}
