:root {
	font-family: Roboto, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	margin: 0;
	padding: 0;
	margin-right: auto;
	margin-left: auto;
	
}

body {
	margin: 0;
	place-items: center;
	box-sizing: border-box;
	
}



