.custom-tooltip {
	background-color: #e60000;
	padding-top: 10px;
	width: 39px;
	height: 63px;

	.tool-style {
		text-align: center;
	}


}

/*
.daily-activity {
    .activity-title {
        font-size: 15px; // Taille de la police
        font-weight: 500; // Graisse de la police
        margin: 40px; 
    }
}
.custom__tooltip {
  background-color: red;
  width: 39px;
  height: 63px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 4px;
  font-size: 7px;
}

.custom__tooltip__label,
.custom__tooltip__intro {
  color: white;
}*/

.custom__tooltip {
  background-color: red;
  width: 39px;
  height: 63px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 4px;
  font-size: 7px;
}

.custom__tooltip__label,
.custom__tooltip__intro {
  color: white;
}